.navbar{
    width: 100%;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;
    margin: 0px 0px ;   
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.dropdown{
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.navbar a:hover, .contact:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #ddd;
  }  

  .dropdown:hover .dropdown-content {
    display: block;
  }

#background{
    width: 100%;
    height: 100%;
    background: url(../image/bi.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    
}
.font1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 40px;
    color: aqua;
    padding: 30px 10px 5px 3px ;
    margin-left: 0px;
}

.menubar{
    display: flex;
    flex-direction: row;
}

.contact{
    float: right;
    overflow: hidden;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    /* padding: 0 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.image {
    width: 50%;
    float: left;
    color:blue; 
   /* -webkit-transition: width 2s; For Safari 3.1 to 6.0 */
    /* transition: width 2s; */
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

}

.image:hover{
        -ms-transform: scale(0.95,0.95); /* IE 9 */
        -webkit-transform: scale(0.95,0.95); /* Safari prior 9.0 */
        transform: scale(0.95,0.95); /* Standard syntax */ 
        background-color: gray;
        transition-delay: 0.5s;

}

.image:hover{
    display: block;
}

.border{
    border-style: solid; 
    border-width: 2px;
    border-color: bisque;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 rgba(211, 40, 40, 0.2), 0 3px 4px 0 rgba(206, 39, 39, 0.19);
}

/* Clearfix (clear floats) */
/* .row::after { */
/* content: ""; */
/* clear: both; */
/* display: table; */
/* display: flex;
flex-direction: row; */
/* } */

.row{
    content: "";
    clear: both;
    display: table;
    /* display: flex;
    flex-direction: row; */
    
}

.clmn {
    width: 25%;
    float: left;
    color:honeydew;
    height:150px; 
    background-color:black;
    opacity: 0.5;
    text-align: center;

}

.lsctn{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* font-size: 5px; */

}

/* .lsctn::after {
    content: "";
    clear: both;
    display: table;
    /* margin-top: 2px;
    }  */

.fotxt{
    /* float:left; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.fb {
    width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 20px;  */
    margin-top: 10px;
}

.insta{
    width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
     /* margin-right: 30px;  */
     margin-top: 10px;
}

.twtr{
    width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 40px;  */
    margin-top: 10px;
}



@media (max-width: 600px) {
    section.navbar div.right, 
    section.navbar div {float: none; text-align: left; margin: 2px;}
  }

@media (max-width: 600px){
    
    .image {
        width: 100%;
        float: none;
    }
}

@media (max-width: 600px){
    
    .lsctn {
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px){
    
    .clmn {
        width: 100%;
        float: none;
        
    }
}
/* 
body, html{ 
    height: 100%;
} */

@media (max-width: 600px) {
    #background {
      background-attachment: scroll;
    }
  }

/* style="" */
/*  style="" */
/* style="width: 25px; float: right; margin-right: 30px; margin-top: 10px;" */
/* style="width: 25px; float: right; margin-right: 35px; margin-top: 10px;" */